.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /*Semi transparent background*/
  z-index: 10;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 60px; /* Space between items */
}

.navbar a {
  text-decoration: none; /* Remove underline */
  color: #ecf0f1;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #45a29e; /* Change color on hover */
}
